!!! 5
%html
  %head
    %meta(charset="utf8")
    %title
      Главная
    %link(rel="stylesheet" href="style.css" type="text/css")
  %body.body
    %header.header
      %img(src="https://cdn.logo.com/hotlink-ok/logo-social.png")
      %div.navigation
        %a.page1(href="./page1.html")
          PAGE 1
        %a.page2(href="./page2.html")
          PAGE 2
    %h4.body_header
      FEATURES
    %h1.body_header
      Using desing to improve
      %br
      product development
    %div.grid
      %div.img
        %img.img_content(src="strategy.png")
      %div.img
        %img.img_content(src="concept.png")
      %div.img
        %img.img_content(src="development.png")
      %p.header_content
        Strategy
      %p.header_content
        Concept
      %p.header_content
        Development
      %p.body_content
        Strategic planning is an organization's process for defining thier strategy so that they can accomplish specific goals and objectives
      %p.body_content
        A business concept is a statement that describes the reach and reason of existence of a given business idea. In other words, it sums up
      %p.body_content
        Develop an on-demand app for your delivery business to reach your targeted customers without any interruption.
      %a.link_content(href="./strategy.html")
        MORE
      %a.link_content(href="./content.html")
        MORE
      %a.link_content(href="./development.html")
        MORE